import styles from './{{camelCase name}}.module.css';

export interface {{properCase name}}Props {}

export default function {{properCase name}}(props: {{properCase name}}Props) {
  return (
    <div className={styles.root}>
      {{properCase name}} component
    </div>
  );
}
